{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/style.css' %}">

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="style.css">


</head>

<body>
    <div id="body" class="container">
        <h1 id="title">tipped</h1>
    <div id="logInBar">Logged in as: <p id="userID">William Russell</p></div>


        <div id="navBox" class="container">
            
            <div id="homeMenuButton" class="navButton">Home</div>
            <div id="scheduleMenuButton" class="navButton">Schedule</div>
            <div id="statisticsMenuButton" class="navButton">Statistics</div>
            
        </div>
        
        <div class="container" id="tipHistoryBlock">

        {% for shift in shifts %}
        <a href=""><div class="loggedTipCell">
            <h1>${{ shift.amount }}</h1>
            <h1>{{ shift.date }}</h1>
            <h1>{{ post.text|linebreaksbr }}</h1>
        </div></a>
        {% endfor %}
        </div>
</div>
    
</body>



</html>
