{% extends 'hello/tip_list.html' %}


{% block tip %}

<div class="container-fluid bg-warning text-center align-middle">
    <h3 class="card-title text-center">Add New Shift</h3>
    <form action="/add-shift/" method="post">
  		<label for="shift_date">Date: </label>
    	<input id="shift_date" type="date" name="shift_date" value="">
   		<label for="shift_time">Time: </label>
   		<input id="shift_time" type="time" name="shift_time" value="">
   		<input type="submit" value="Add">
	</form>
</div>


{% endblock %}