<!-- graphic area in html -->

{% extends 'hello/base.html' %}
{% load customtags %}
{% block content %}
<div class="col">
         				<div class="container-fluid bg-info" id="projections">
         					    <h3 class="card-title text-center"><strong>Quick Projections</strong></h3>
         					<div class="">
         						<div class="card-content">
         							<div class="container-fluid text-center">
         								<div class="row">
         									<div class="col-sm-4">
         										<div class="card">
         											<div class="card-content">
         												
         												<h5 class="card-title">Projected:</h5>
         												<h5 class="card-body projectionscontent">${% total %}</h5>
         												
         											</div>
         										</div>
         									</div>
         									<div class="col-sm-4">
         										<div class="card">
         											<div class="card-content">
         												<h5 class="card-title">Average Projection:</h5>
         												<h5 class="card-body projectionscontent">${% avg %}</h5>
         											</div>
         										</div>
         									</div>
         									<div class="col-sm-4">
         										<div class="card">
         											<div class="card-content">
         												<h5 class="card-title">Shifts Scheduled:</h5>
         												<h5 class="card-body projectionscontent">{% count %}</h5>
         											</div>
         										</div>
         									</div>
         								</div>
         								<div class="row">
         									<div class="">
         										<div class="card" id="goal">
         											<div class="card-content">
         												<h5 class="card-title">Monthly Goal Progress:</h5>
         												<h3 class="card-body projectionscontent">85%</h3>
         												<h5 class="card-body projectionscontent bg-success">On Track!</h5>
         											</div>
         										</div>
         									</div>
         								</div>
         							</div>
         						</div>
         					</div>
     					</div>
     				</div>
     				<h5>{% monthToDate %}

     				{% endblock %}