
{% extends 'hello/base.html' %}
{% load customtags %}


{% block content %}
			<div class="container-fluid">
				
				<div class="col">




					<div class="row">


						<div class="col">
         				<div class="container-fluid bg-info" id="projections">
         					    <h3 class="card-title text-center">Quick Projections</h3>
         					<div class="">
         						<div class="card-content">
         							<div class="container-fluid text-center">
         								<div class="row">
         									<div class="col-sm-4">
         										<div class="card">
         											<div class="card-content">
         												
         												<h5 class="card-title">Projected:</h5>
         												<h5 class="card-body projectionscontent">${% total %}</h5>
         												
         											</div>
         										</div>
         									</div>
         									<div class="col-sm-4">
         										<div class="card">
         											<div class="card-content">
         												<h5 class="card-title">Average Projection:</h5>
         												<h5 class="card-body projectionscontent">${% avg %}</h5>
         											</div>
         										</div>
         									</div>
         									<div class="col-sm-4">
         										<div class="card">
         											<div class="card-content">
         												<h5 class="card-title">Shifts Scheduled:</h5>
         												<h5 class="card-body projectionscontent">{% count %}</h5>
         											</div>
         										</div>
         									</div>
         								</div>
         								<div class="row">
         									<div class="">
         										<div class="card" id="goal">
         											<div class="card-content">
         												<h5 class="card-title">Monthly Goal Progress:</h5>
         												<h3 class="card-body projectionscontent">85%</h3>
         												<h5 class="card-body projectionscontent bg-success">On Track!</h5>
         											</div>
         										</div>
         									</div>
         								</div>
         							</div>
         						</div>
         					</div>
     					</div>
     				</div>

     				<div class="col">
     					{% block tip %}
     					{% endblock %}



     				</div>



     				</div>




					<div class="row">
            			<div class="container-fluid bg-success" id="shifts">
            	            <h3 id="upcomingLabel" class="card-title text-center">Upcoming Shifts   <a href="#">+</a></h3>

            				{%  for shift in shifts  %}
               				 {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
                 			<div class="col-md-4" style="cursor: pointer">
                      			<div class="card">
                          			<a href="{% url 'tip' pk=shift.pk %}">
                          				<div class="card-content tip-card">
                              				<br>
                              				<h5>{{ shift.date|date:"D" }}</h4>
                              				<h5>{{ shift.date|date:"M d"}}
                              				<h5>{{ shift.date|date:"f A"}}
                              				<h5>Projected: ${{ shift.amount }}</h4>
                              				<br>
                          				</div></a><!-- card content -->
                     			</div><!-- card -->
                  			</div><!-- col-md-4 -->
            				{%  if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing --><hr>{%  endif %}
            				{%  endfor %}
         				</div><!-- container -->
     				</div>
     			</div>
     		</div>
{% endblock %}

