
.loggedTipCell{
	border-color: black;
	border-style: solid;

}
#tipHistoryBlock a:hover{
}
#tipHistoryBlock{
	



}
#tipHistoryBlock h1{
	

}
.projectionscontent{
	font-weight: bold;

}
#projections{
	
}
#shifts{
	
}
